<div id="navigation" class="z-10">
  <img src="{{global.baseUrl}}/assets/navigation/navi-bar-1px-repeated.png" alt="navigation-bg" id="navigation-bg">
  <div class="absolute inset-0 px-14 w-full h-full">
    <div class="w-full h-full flex items-center">

      <div class="flex h-full">
        <div class="group relative capitalize text-white flex items-center text-4xl h-full cursor-default">
          <div class="relative px-16">
            <div class="flex items-center">
              <span class="lh" id="navHome">Home</span>
              <img class="ml-4 w-5" src="{{global.baseUrl}}/assets/navigation/dropdown-arrow.png" alt="dropdown icon">
            </div>
            <div class="absolute w-8/12 left-1/2 transform -translate-x-1/2 h-4/12 translate-y-1/2 bottom-0 px-4">
              <img class="w-full h-full" src="{{global.baseUrl}}/assets/navigation/selected-underline.png" alt="underline decorations">
            </div>
          </div>
          <div class="hidden group-hover:block absolute text-3.5xl left-0 top-full transform -translate-y-8 h-full w-16/10 -z-10">
            <img class="w-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-01.png" alt="top">
            <a href="#" class="relative block py-1 text-white">
              <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-02-1px-repeated.png" alt="top">
              <div class="relative home-item pt-4 pb-2">
                <img class="hidden home-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-selected-1px.png" alt="top">
                <div class="px-10"><span id="navInfo">Information</span></div>
              </div>
            </a>

            <a href="#" class="relative block py-1 text-white">
              <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-02-1px-repeated.png" alt="top">
              <div class="relative home-item pt-4 pb-2">
                <img class="hidden home-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-selected-1px.png" alt="top">
                <div class="px-10"><span id="navHvt">HIM Virtual Tour</span></div>
              </div>
            </a>

            <a href="#" class="relative block py-1 text-white">
              <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-02-1px-repeated.png" alt="top">
              <div class="relative home-item pt-4 pb-2">
                <img class="hidden home-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-selected-1px.png" alt="top">
                <div class="px-10"><span id="navPres">President&#039;s Team Lounge</span></div>
              </div>
            </a>

            <a href="#" class="relative block py-1 text-white">
              <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-02-1px-repeated.png" alt="top">
              <div class="relative home-item pt-4 pb-2">
                <img class="hidden home-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-selected-1px.png" alt="top">
                <div class="px-10"><span id="navFuture">Future Chairman&#039;s Club Forum</span></div>
              </div>
            </a>

            <a href="#" class="relative block py-1 text-white">
              <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-02-1px-repeated.png" alt="top">
              <div class="relative home-item pt-4 pb-2">
                <img class="hidden home-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-selected-1px.png" alt="top">
                <div class="px-10"><span id="navBout">Breakout Session</span></div>
              </div>
            </a>

            <a href="#" class="relative block py-1 text-white">
              <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-02-1px-repeated.png" alt="top">
              <div class="relative home-item pt-4 pb-2">
                <img class="hidden home-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-selected-1px.png" alt="top">
                <div class="px-10"><span id="navHnf">HNF</span></div>
              </div>
            </a>

            <a href="#" class="relative block py-1 text-white">
              <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-02-1px-repeated.png" alt="top">
              <div class="relative home-item pt-4 pb-2">
                <img class="hidden home-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-selected-1px.png" alt="top">
                <div class="px-10"><span id="navSurvey">Survey</span></div>
              </div>
            </a>

            <img class="w-full transform -scale-y-100 scale-x-100" src="{{global.baseUrl}}/assets/navigation/long-dropdown-menu-01.png" alt="top">
          </div>
        </div>

        <a href="#" class="capitalize text-white flex items-center text-4xl h-full">
          <div class="relative border-l border-white px-16">
            <div><span id="navAgenda">agenda</span></div>
            <div class="absolute w-8/12 left-1/2 transform -translate-x-1/2 h-4/12 translate-y-1/2 bottom-0 px-4">
              <img class="w-full h-full" src="{{global.baseUrl}}/assets/navigation/selected-underline.png" alt="underline decorations">
            </div>
          </div>
        </a>

        <a href="#" class="capitalize text-white flex items-center text-4xl h-full">
          <div class="relative border-l border-white px-16">
            <div><span id="navExpo">expo</span></div>
            <div class="absolute w-8/12 left-1/2 transform -translate-x-1/2 h-4/12 translate-y-1/2 bottom-0 px-4">
              <img class="w-full h-full" src="{{global.baseUrl}}/assets/navigation/selected-underline.png" alt="underline decorations">
            </div>
          </div>
        </a>

        <a href="#" class="capitalize text-white flex items-center text-4xl h-full">
          <div class="relative border-l border-white px-16">
            <div><span id="navTraining">training</span></div>
            <div class="absolute w-8/12 left-1/2 transform -translate-x-1/2 h-4/12 translate-y-1/2 bottom-0 px-4">
              <img class="w-full h-full" src="{{global.baseUrl}}/assets/navigation/selected-underline.png" alt="underline decorations">
            </div>
          </div>
        </a>

        <a href="#" class="capitalize text-white flex items-center text-4xl h-full">
          <div class="relative border-l border-white px-16">
            <div><span id="navRecognition">recognition</span></div>
            <div class="absolute w-8/12 left-1/2 transform -translate-x-1/2 h-4/12 translate-y-1/2 bottom-0 px-4">
              <img class="w-full h-full" src="{{global.baseUrl}}/assets/navigation/selected-underline.png" alt="underline decorations">
            </div>
          </div>
        </a>

        <a href="#" class="capitalize text-white flex items-center text-4xl h-full">
          <div class="relative border-l border-white px-16">
            <div><span id="navGames">games</span></div>
            <div class="absolute w-8/12 left-1/2 transform -translate-x-1/2 h-4/12 translate-y-1/2 bottom-0 px-4">
              <img class="w-full h-full" src="{{global.baseUrl}}/assets/navigation/selected-underline.png" alt="underline decorations">
            </div>
          </div>
        </a>

      </div>
      <div class="group relative flex items-center justify-center h-full">
        <img class="h-7/12" src="{{global.baseUrl}}/assets/navigation/navi-button.png" alt="language-selector" id="language-selector">
        <div class="active-lang absolute h-3/12 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <img class="en h-full w-auto max-w-auto" src="{{global.baseUrl}}/assets/navigation/english.png" alt="top">
          <img class="kr h-full w-auto max-w-auto" src="{{global.baseUrl}}/assets/navigation/korean.png" alt="top">
          <img class="kh h-full w-auto max-w-auto" src="{{global.baseUrl}}/assets/navigation/tamil.png" alt="top">
          <img class="zh h-full w-auto max-w-auto" src="{{global.baseUrl}}/assets/navigation/chinese.png" alt="top">
          <img class="id h-full w-auto max-w-auto" src="{{global.baseUrl}}/assets/navigation/indonesia.png" alt="top">
          <img class="th h-full w-auto max-w-auto" src="{{global.baseUrl}}/assets/navigation/thai.png" alt="top">
          <img class="jp h-full w-auto max-w-auto" src="{{global.baseUrl}}/assets/navigation/japanese.png" alt="top">
          <img class="vn h-full w-auto max-w-auto" src="{{global.baseUrl}}/assets/navigation/vietnamese.png" alt="top">
        </div>
        <div id="language-list" class="hidden group-hover:block absolute left-0 top-full h-full w-11/10 left-1/2 transform -translate-x-1/2 -translate-y-8 -z-10">
          <img class="w-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-01.png" alt="top">
          <a href="#" class="relative block py-1 text-white" data-language="en">
            <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-02-1px-repeated.png" alt="top">
            <div class="relative language-item pt-2 pb-1">
              <img class="hidden language-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-selected-1px.png" alt="top">
              <div class="px-10 flex items-center justify-center">
                <img class="w-full" src="{{global.baseUrl}}/assets/navigation/english.png" alt="top">
              </div>
            </div>
          </a>

          <a href="#" class="relative block py-1 text-white" data-language="kr">
            <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-02-1px-repeated.png" alt="top">
            <div class="relative language-item pt-2 pb-1">
              <img class="hidden language-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-selected-1px.png" alt="top">
              <div class="px-10 flex items-center justify-center">
                <img class="w-full" src="{{global.baseUrl}}/assets/navigation/korean.png" alt="top">
              </div>
            </div>
          </a>

          <a href="#" class="relative block py-1 text-white" data-language="kh">
            <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-02-1px-repeated.png" alt="top">
            <div class="relative language-item pt-2 pb-1">
              <img class="hidden language-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-selected-1px.png" alt="top">
              <div class="px-10 flex items-center justify-center">
                <img class="w-full" src="{{global.baseUrl}}/assets/navigation/tamil.png" alt="top">
              </div>
            </div>
          </a>

          <a href="#" class="relative block py-1 text-white" data-language="zh">
            <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-02-1px-repeated.png" alt="top">
            <div class="relative language-item pt-2 pb-1">
              <img class="hidden language-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-selected-1px.png" alt="top">
              <div class="px-10 flex items-center justify-center">
                <img class="w-full" src="{{global.baseUrl}}/assets/navigation/chinese.png" alt="top">
              </div>
            </div>
          </a>

          <a href="#" class="relative block py-1 text-white" data-language="id">
            <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-02-1px-repeated.png" alt="top">
            <div class="relative language-item pt-2 pb-1">
              <img class="hidden language-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-selected-1px.png" alt="top">
              <div class="px-10 flex items-center justify-center">
                <img class="w-full" src="{{global.baseUrl}}/assets/navigation/indonesia.png" alt="top">
              </div>
            </div>
          </a>

          <a href="#" class="relative block py-1 text-white" data-language="th">
            <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-02-1px-repeated.png" alt="top">
            <div class="relative language-item pt-2 pb-1">
              <img class="hidden language-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-selected-1px.png" alt="top">
              <div class="px-10 flex items-center justify-center">
                <img class="w-full" src="{{global.baseUrl}}/assets/navigation/thai.png" alt="top">
              </div>
            </div>
          </a>

          <a href="#" class="relative block py-1 text-white" data-language="jp">
            <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-02-1px-repeated.png" alt="top">
            <div class="relative language-item pt-2 pb-1">
              <img class="hidden language-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-selected-1px.png" alt="top">
              <div class="px-10 flex items-center justify-center">
                <img class="w-full" src="{{global.baseUrl}}/assets/navigation/japanese.png" alt="top">
              </div>
            </div>
          </a>

          <a href="#" class="relative block py-1 text-white" data-language="vn">
            <div class="mx-8 border-t border-white mb-2"></div>  <img class="absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-02-1px-repeated.png" alt="top">
            <div class="relative language-item pt-2 pb-1">
              <img class="hidden language-item:block absolute -z-10 inset-0 w-full h-full" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-selected-1px.png" alt="top">
              <div class="px-10 flex items-center justify-center">
                <img class="w-full" src="{{global.baseUrl}}/assets/navigation/vietnamese.png" alt="top">
              </div>
            </div>
          </a>

          <img class="w-full transform -scale-y-100 scale-x-100" src="{{global.baseUrl}}/assets/navigation/short-dropdown-menu-01.png" alt="top">
        </div>
      </div>
      <div class="relative flex items-center justify-center h-7/12">
        <img class="h-full" src="{{global.baseUrl}}/assets/navigation/user-icon.png" alt="user-icon" id="user">
        <div class="user-details">
          <div class="user-basic-details">
            <p class="user-name">{{user.firstname}} {{user.lastname}}</p>
            <p class="user-email">{{user.email}}</p>
            <p class="user-company">{{user.company}}</p>
          </div>
          <button id="logout">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>