body {
  background: #1e2630;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header,
footer {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

footer {
  border-top: 1px solid #eee;
}

main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
  flex-direction: column;
}

main h1 {
  margin: 0;
  color: #000;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-content {
  flex: 1;
  overflow: hidden;
  padding: 20px;
  display: flex;
  position: relative;
  background-color: #fff;
}

.right-nav {
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.avatars button,
.action-buttons button {
  border: 1px solid #ccc;
  background: #eee;
  margin-bottom: 10px;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  cursor: pointer;
}

button.gevme-dm-messages.new-message {
  position: relative;
}

button.gevme-dm-messages.new-message::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background: red;
  border-radius: 100%;
  top: 4px;
  right: 4px;
}

.avatars button {
  margin-bottom: 0;
  margin-right: 10px;
}

.avatars button:last-child {
  margin-right: 10px;
}

.action-buttons button:last-child {
  margin-bottom: 0;
}

gevme-people-directory {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  min-width: 1024px;
  max-width: 1024px;
  transition: all ease-in-out 200ms;
  height: auto;
  padding: 20px;
  width: 100%;
  border-radius: 4px;
  top: 0;
  right: -200%;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 440px;
}

gevme-people-directory.open-directory {
  right: 0;
  transition: all ease-in-out 200ms;
}

gevme-people-directory .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 100%;
  cursor: pointer;
}

iframe[name="GevmePeopleDirectory"] {
  padding: 10px;
  border-radius: 4px;
  background-color: #193421;
}

iframe#GevmeChat.chat-open {
  right: 10px !important;
}

.dVQtFi {
  display: none;
}