body {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header,
footer {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

footer {
  border-top: 1px solid #eee;
}

main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
  flex-direction: column;
}

main h1 {
  margin: 0;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-content {
  flex: 1;
  overflow: hidden;
  padding: 20px;
  display: flex;
  position: relative;
}

.right-nav {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.avatars button,
.action-buttons button {
  border: 1px solid #ccc;
  background: #eee;
  margin-bottom: 10px;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  cursor: pointer;
}

.avatars button {
  margin-bottom: 0;
  margin-right: 10px;
}

.avatars button:last-child {
  margin-right: 10px;
}

.action-buttons button:last-child {
  margin-bottom: 0;
}

gevme-people-directory {
    position: absolute;
    left: -200%;
    min-width: 1024px;
    max-width: 1024px;
    transition: all ease-in-out 200;
    background: #193420;
    height: auto;
    padding: 20px;
    border-radius: 4px;
}

gevme-people-directory.open-directory {
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out 200;
}

iframe#GevmeChat.chat-open {
  right: 100px;
}
