@font-face {
  font-family: HelveticaNeue;

  src: url(https://github.com/GEVME/venue-herbalife-extravaganza-2021/blob/acaabee7110bb85b51ce16a4e656dfdbe399d9a4/global/assets/navigation/HelveticaNeue.ttc);
}

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.875rem;
  font-family: HelveticaNeue;
}

#navigation-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-item:hover .home-item\:block,
.language-item:hover .language-item\:block {
  display: block;
}

.max-w-auto {
  max-width: none;
}

.user-details {
  display: none;
}

.user-details.active {
  display: flex;
  position: absolute;
  background: #002b58bf;
  top: calc(100%);
  right: calc(100% - 39.99px);
  padding: 10px;
  flex-direction: column;
  align-items: flex-end;
  border: 2px solid cyan;
  color: #fff;
  font-size: 14px;
}

.user-basic-details {
  margin-bottom: 10px;
  padding-bottom: 10px;
  min-width: 250px;
  border-bottom: 0.5px solid #fff;
}

.user-details #logout {
  display: inline-block;
  padding: 5px;
  border: 1px solid #fff;
  color: #e5e5e5;
}
